<div>
    <h2 style="text-align: center; font-size: 4ch; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Login</h2>
    <!-- <Input 
        type="text"
        id="username"
        name="username"
        placeholder="Email"/>
    <Input 
        type="text"
        id="password"
        name="password"
        placeholder="Password"/> -->
    <div style="text-align: center; background-image:url('img.jpg');">
        <form class="form">
            <table>
                <tr>
                    <td>
                        <input class="input"
                            type="text"
                            id="username"
                            name="username"
                            placeholder="User Name"
                            [(ngModel)]="username"
                        />
                    </td>
                </tr>
                <tr>
                    <td>
                        <input class="input"
                            type="text"
                            id="password"
                            name="password"
                            placeholder="Password"
                            [(ngModel)]="password"
                        />
                    </td>
                </tr>
            </table>
        </form>
        <div style="margin-top: 4ch;">
            <button class="login-button" (click) = "login()">
                Login
            </button>
        </div>
        <div style="margin-top: 2ch;">
            <button class="signup-button" (click) = "signupUser()">
                Sign Up
            </button>
        </div>
    </div>
</div>